.resetPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .rpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .rpInput {
    margin: 10px;
    padding: 10px;
    width: 300px;
  }
  
  .rpButton {
    margin: 10px;
    padding: 10px;
    width: 320px;
  }
  
  .successMessage {
    color: green;
  }
  
  .errorMessage {
    color: red;
  }
  